<% provide(:title, '新しいロードマップを作る') %>
<div class="container share-container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm">
  <i class="mr-2 fas fa-road fa-2x"></i>
  <h1 class="mb-0 text-white lh-100">新しいロードマップを作る</h1>
  </div>
      <%= render 'form'%>
</div>