<div class="container-fluid">
  <div class="center jumbotron jumbotron-extend">
    <h1>Welcome to the Roadmap</h1>
    <p>ビジネスのスキルやノウハウの独学を助けるコミュニティサイトです。</p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>