<div class="container-fluid">
  <div class="center jumbotron jumbotron-extend">
    <h1>独学を、集合知に。</h1>
      <p>独学ステップ共有サービス「Grouthmap」にようこそ。</p>
    <div class="home__btn--create" >
      <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
    <div class="home__btn--login" >
      <%= link_to "ログイン", login_path, class: "btn btn-lg btn-secondary" %>
    </div>
  </div>


<div class="background-top-medium">
  <div class="box-top-discription">
    <h2>独学で、困ること。</h1>
      <p>読むべき「本・教材」</p>
      <p>見るべき「ブログ・ノウハウ」</p>
      <p>聞くべき「音声」</p>
      <p>行くべき「スクール」</p>
      <p>触れるべき「体験・実践」</p>
      <br>
      <p>多くの独学者は、自分に合った情報がわからない状態で、試行錯誤していき、自分の独学の成功を探します。</p>
      <br>
    <h2>独学に、必要なこと。</h2>
      <p>独学の目的・状況の近しい人から、独学のステップ・ノウハウを学べたら、もっと効果的な学習法が見つかります。</p>
      <br>
      <p>独学の継続と成功を通じて、あなたのビジョンを達成しましょう。</p>
    </div>
</div>

<div class="background-top-bottom">
  <div class="box-top-discription">
    <h2>継続しましょう。</h2>
      <p>独学の成功には、継続が必要です。継続のために、まずは学習を記録し、習慣化しましょう。</p>
      <br>
    <h2>共有しましょう。</h2>
      <p>あなたの独学の記録が継続に繋がり、継続的な記録が共有されることで、結果的に誰かの独学の土台になります。</p>
      <br>
    <h2>参考にしましょう。</h2>
      <p>独学の成功には、参考が必要です。継続のために、先人の記録から情報を参照し、自分に合った情報を取得しましょう。</p>
      <br>
    <h2>称賛しましょう。</h2>
      <p>そして、記録してくれた先人の独学者を適切にたたえることが、次の独学者の指標の蓄積に繋がります。</p>
      <br>
      <p>あなたの独学を、誰かの独学のために、独学の集合知のループを作りましょう。</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row offset-md-2">
    <div class="col-md-4 img-hidden container-top-end">
    </div>
    <div class="col-md-4 home__btn--end">
      <div class="home__btn--end">
        <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary" %>
      </div>
      <div class="home__btn--end">
        <%= link_to "ログイン", login_path, class: "btn btn-lg btn-secondary" %>
      </div>
    </div>
  </div>
</div>