<div class="container-fluid">
  <div class="center jumbotron jumbotron-extend">
    <h1>独学を、集合知に。</h1>
      <p>独学ステップ共有サービス「Grouthmap」にようこそ。</p>
    <div class="home__btn--create" >
      <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
    <div class="home__btn--login" >
      <%= link_to "ログイン", login_path, class: "btn btn-lg btn-secondary" %>
    </div>
  </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4  img-hidden container-top-medium">
    </div>
    <div class="col-md-8 col-md-8-top-discription">
      <h2 class="text-left">独学で、<br>わからないこと。</h1>
        <p>読むべき「本・教材」</p>
        <p>見るべき「ブログ・ノウハウ」</p>
        <p>聞くべき「音声」</p>
        <p>行くべき「スクール」</p>
        <p>触るべき「体験・実践」</p>
        <br>
        <p>多くの独学者は、</p>
        <p>失敗と試行錯誤の中で、</p>
        <p>自分の独学の成功を探します。</p>
        <br>
      <div class="text-right">
      <h2 class="text-right">独学で、<br>うれしいこと。</h2>
        <p>独学の目的・状況の近しい人から、</p>
        <p>独学のステップ・ノウハウを学べたら、</p>
        <p>もっと効果的な学習法が見つかります。</p>
        <br>
        <p>独学の継続と成功を通じて、</p>
        <p>あなたのビジョンを</p>
        <p>達成しましょう。</p>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-8-top-discription">
      <h2 class="text-left">共有しましょう。</h2>
        <p>独学の成功には、継続が必要です。</p>
        <p>継続のために、</p>
        <p>記録し習慣化しましょう。</p>
        <br>
        <p>あなたの独学の継続の記録の共有が、</p>
        <p>誰かの独学の土台になります。</p>
      <br>
      <div class="text-right">
      <h2 class="text-right">参考にしましょう。</h2>
        <p>独学の成功には、継続が必要です。</p>
        <p>継続のために、先人の記録から、</p>
        <p>自分に合った情報を取得しましょう。</p>
        <br>
        <p>情報を参照し、先人の独学者を、</p>
        <p>適切にたたえることが、</p>
        <p>次の独学者の指標に繋がります。</p>
      </div>
    </div>
    <div class="col-md-4 img-hidden container-top-bottom">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 img-hidden container-top-end">
    </div>
    <div class="col-md-4 home__btn--end">
      <div class="home__btn--end">
        <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary" %>
      </div>
      <div class="home__btn--end">
        <%= link_to "ログイン", login_path, class: "btn btn-lg btn-secondary" %>
      </div>
    </div>
  </div>
</div>