<% provide(:title, "Growthmapについて") %>
    <div class="container share-container">
        <h1>About</h1>
            <p>
            Growthmapは、ビジネスに関するスキルやノウハウの独学を助けるコミュニティサイトです。
            </p>
    </div>