<% provide(:title, "Growthmapについて") %>

  <div class="center jumbotron jumbotron-extend">
    <h1>独学を、集合知に。</h1>
      <p>独学ステップ共有サービス「Growthmap」にようこそ。</p>
  </div>

  <div class="container-fluid">
  <div class="row col-md-12 justify-content-center ">
    <div class="col-md-4 img-hidden container-top-end">
    </div>
    <div class="col-md-4 box-top-discription">
      <p>
        Growthmapは、「独学を集合知に」するために、独学のロードマップを記録し、記録を通じて継続と他者への学びのシェアを行い合うサイトです。独学を支え合いましょう。
      </p>
    </div>
  </div>
</div>

  <div class="background-top-medium">
    <div class="box-top-discription">
      <h2>独学で、困ること。</h1>
        <p>読むべき「本・教材」</p>
        <p>見るべき「ブログ・ノウハウ」</p>
        <p>聞くべき「音声」</p>
        <p>行くべき「スクール」</p>
        <p>触れるべき「体験・実践」</p>
        <br>
        <p>多くの独学者は、自分に合った情報がわからない状態で、試行錯誤していき、自分の独学の成功を探します。</p>
        <br>
      <h2>独学に、必要なこと。</h2>
        <p>独学の目的・状況の近しい人から、独学のステップ・ノウハウを学べたら、もっと効果的な学習法が見つかります。</p>
        <br>
        <p>独学の継続と成功を通じて、あなたのビジョンを達成しましょう。</p>
      </div>
  </div>

<div class="row col-md-12">
  <div class="col-md-4 box-top-discription text-center"">
  <%= image_tag "top_value_01.png", alt: "growthmap_value_01_learn", class: "img-fluid mb-3", :size => '130x130' %>
    <p>
      独学の成功には、継続が必要です。継続のために、まずは学習を記録し、習慣化しましょう。継続的な記録が共有されることで、誰かの独学の土台になります。
    </p>
  </div>
  <div class="col-md-4 box-top-discription text-center"">
  <%= image_tag "top_value_02.png", alt: "growthmap_value_01_roadmap", class: "img-fluid mb-3", :size => '130x130' %>
    <p>
      独学の成功には、参考が必要です。継続のために、先人の記録から情報を参照し、自分に合った情報を取得しましょう。
    </p>
  </div>
  <div class="col-md-4 box-top-discription text-center">
    <%= image_tag "top_value_03.png", alt: "growthmap_value_01_communication", class: "img-fluid mb-3", :size => '130x130' %>
    <p>
    そして、記録してくれた先人の独学者を適切にたたえることが、次の独学者の指標の蓄積に繋がります。独学者同士で交流をしましょう。
    </p>
  </div>
  <div class="row col-md-12 justify-content-center m-2 mb-5 ">
    <%= link_to "独学のロードマップを見る", roadmaps_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

<div class="container-fluid">
  <div class="row col-md-12 justify-content-center ">
    <div class="col-md-4 img-hidden container-top-end">
    </div>
  </div>
</div>