<% provide(:title, "Contact") %>
  <div class="container share-container">
    <h1>Contact</h1>
      <p>
        サービスに関するお問い合わせは、運営者の
        <a href="https://twitter.com/ItaruTomita9779">Twitter</a>のDMまで、お気軽にご連絡ください。ビジョンに共感いただき、サービスを広げる仲間も募集しています！
      </p>
      <small>
      Blog: <a href="https://tartom7997.net/">UpDrafts</a>
      Written by <a href="https://www.wantedly.com/id/tomtar9779">Itaru Tomita</a>
    </small>
  </div>