<% provide(:title, "メール送信について") %>
<div class="container share-container">
  <h1>メール送信について</h1>
  <p class="text center">  
    送信メールの確認のため、入力したメールアドレスをご確認ください。
  </p>

  <p class="text center">  
    <%= link_to "トップページに戻る", root_path %>
  </p>


</div>