<% provide(:title, "Forgot password") %>

<div class="container share-container">
  <h1>Forgot password</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_with scope: :password_reset, url: password_resets_path, local: true do |f| %>
          
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>