<h1>Email reset</h1>

<p>あなたのEメールアドレスを再設定するために、下記のリンクをクリックしてください。</p>

<%= link_to "Eメールアドレスを再設定する", edit_email_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>＊このリンクは2時間以内に失効します。</p>

<p>
もし、あなたがEメールアドレスのリセットのリクエストをしていない場合、このメールを無視してください。
</p>