<% provide(:title, 'ユーザー設定') %>
<% provide(:button_text, 'Save changes') %>
<% provide(:url, user_path) %>
  <div class="container share-container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm">
      <i class="mr-2 fas fa-id-card fa-2x"></i>
      <h1 class="mb-0 text-white lh-100">プロフィールの更新</h1>
    </div>
        <%= render 'form_edit' %>
  </div>