<% provide(:title, 'All Users') %>
  <div class="container share-container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm">
      <i class="mr-2 fas fa-users fa-2x"></i>
      <div class="h1 mb-0 text-white lh-100">
        All Users (<%= @users.count %>)
      </div>
    </div>

  <%= will_paginate %>

  <ul class="users">
    <%= render @users %>
  </ul>

  <%= will_paginate %>
  </div>