<% provide(:title, 'サインアップ') %>
<% provide(:button_text, 'Create my account') %>
<% provide(:url, signup_sns_path) %>
<div class="container share-container">
  <h1>サインアップ</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= render 'form_sns'%>
    </div>
  </div>
</div>