<% provide(:title, @title) %>
<div class="container share-container">
<div class="row">
  <div class="col-md-12">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm">
      <i class="mr-2 fas fa-project-diagram fa-2x"></i>
      <div class="h1 mb-0 text-white lh-100">
        <%= @title %>
      </div>
    </div>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
</div>