<div class="term_agreement text-center">
    <h1>特定商取引法に基づく表示</h1>

    <h2>1.	事業者の名称：</h2>
      <p>冨田到</p>

    <h2>2.	代表者または通信販売に関する業務の責任者の氏名：</h2>
    <p>冨田到</p>

    <h2>3.	住所：</h2>
    <p>東京都目黒区大橋1−3−5</p>

    <h2>4.	電話番号：</h2>
    <p>080-40971-9764</p>

    <h2>5.	メールアドレス：</h2>
    <p>growthmap.ss@gmail.com</p>

    <h2>6.	商品の販売価格・サービスの対価：</h2>
    <p>各商品・サービスのご購入ページにて表示する価格</p>

    <h2>7.	対価以外に必要となる費用：</h2>
    <p>配送料：「配送料一覧」（※リンクを貼る）を参照</p>
    <p>※なお、インターネット接続料金その他の電気通信回線の通信に関する費用はお客様にて別途ご用意いただく必要があります（金額は、お客様が契約した各事業者が定める通り）。</p>

    <h2>8.	支払方法：</h2>
    <p>クレジット決済、コンビニ決済</p>

    <h2>9.	代金の支払時期：</h2>
    <p>【クレジットカード】</p>
    <p>ご利用のクレジットカードの締め日や契約内容により異なります。ご利用されるカード会社までお問い合わせください。</p>

    <p>【コンビニ決済】</p>
    <p>ご注文から3日以内にお支払いいただきます。</p>

    <h2>10.	商品引渡しまたはサービス提供の時期：</h2>
    <p>【クレジットカード】</p>
    <p>クレジットカード利用の承認が下りた後、3日以内に発送します。</p>

    <p>【コンビニ決済】</p>
    <p>代金入金確認次第、すみやかに商品を発送します。</p>

    <h2>11.返品・キャンセルに関する特約：</h2>
    <p>本サイトで販売する商品・サービスについては、購入手続完了後の返品またはキャンセルをお受けいたしません。なお、商品・サービスに瑕疵がある場合は、利用規約の定めに従って対応します。</p>
    <p>商品がソフトウェアの場合、動作環境及び必要スペックはご購入ページで表示しています。</p>
    <p>特別な販売条件または提供条件がある商品またはサービスについては、各商品またはサービスの購入ページにおいて条件を表示します。</p>
    
</div>