<% provide(:title, "お問い合わせありがとうございます。") %>
  <div class="container share-container">
    <div class="p-3 bg-white rounded shadow-sm">

      <h1>Contact</h1>
        <p class="text-center">
          お問合せいただきまして、誠にありがとうございます。
        </p>

    </div>
  </div>
