<% provide(:title, '全ての独学の記録') %>
  <div class="container share-container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm">
      <i class="mr-2 fas fa-road fa-2x"></i>
      <div class="h1 mb-0 text-white lh-100">
        全ての独学の記録 (<%= @posts.count %>)
      </div>
    </div>

  <%= will_paginate %>

  <ul class="XXX">
    <%= render 'shared/feed_all_post' %>
  </ul>

  <%= will_paginate %>
  </div>