<% set_meta_tags description: @post_sprit_content,
                og: { image: @post.picture } %>

<% provide(:title, @post.title) %>

  <div class="container share-container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm">
      <i class="mr-2 fas fa-pen-alt fa-2x"></i>
      <div class="h1 mb-0 text-white lh-100">
        独学の記録
      </div>
    </div>

    <%= render 'shared/post_show' %>

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm">
      <i class="mr-2 fas fa-comments fa-2x"></i>
      <div class="h1 mb-0 text-white lh-100">
        コメントリスト
      </div>
    </div>

    <%= render 'shared/post_comment' %>

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm">
      <i class="mr-2 fas fa-comments fa-2x"></i>
      <div class="h1 mb-0 text-white lh-100">
        コメントを投稿する
      </div>
    </div>

    <%= render 'shared/post_comment_form' %>

  </div>