// @import "bootstrap-sprockets";
@import "bootstrap";
@import "reset";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  color: #F6F7F8;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.share-container {
  background: #F6F7F8;
  padding: 100px 180px 180px 180px;
  margin-top: 100px;
  color: #0C0C0C;
  h1 {
    color: #0C0C0C
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #0C0C0C;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #0C0C0C;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* btn */

.btn-primary {
  background: #68A5DA;
  color: #F6F7F8;
}

.btn-secondary {
  background: #F6F7F8;
  color: #68A5DA;
}

/* header */

.header-container {
 width: 100%;
 padding: auto;
 margin: auto;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
}


.navbar-brand {
  display: block;
  width: 150px;
  height: 49px;
  font-size: 0; 
  background: url(growthmap_logo_02_mini.png) left top/150px auto no-repeat;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #F6F7F8;
  color: #F6F7F8;
  a {
    color: #F6F7F8;
    &:hover {
      color: #68A5DA;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
  
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: 68A5DA;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
      @extend .is-invalid;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #999
  }
}

/* Home */

/* ①背景設定 20201230*/ 
.jumbotron-extend {
  background:url(top_01.jpg) center no-repeat; background-size: cover;
  padding: 250px 0px 200px 0px;
  margin-bottom: 0;
  color: #F6F7F8;
  h1 {
    color: #F6F7F8
  }
}

/* ②Bootstrapの既存設定の初期化 20201230*/
// .container { 
//   width: 100%;
//   padding: auto;
//   margin: auto;
// } 

/* ③JumbotronのみへのMargin調整 20201230*/
.container-fluid { 
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;
} 

.home__btn--create {
  padding: 0px 0px 20px 0px;
}

.home__btn--login {
  padding: 0px 0px 0px 0px;
}

.container-top-medium {
  background:url(top_02.jpg) ;
  background-size: cover;
  padding: 250px 0px 250px 0px;
}

.col-md-8-top-discription {
  padding: 30px 100px 30px 100px;
  color: #F6F7F8;
  p {
    margin-bottom: 0px;
  }
  h1, h2 {
    color: #F6F7F8
  }
}

.container-top-bottom {
  background:url(top_03c.jpg) center no-repeat; background-size: cover;
  padding: 250px 0px 250px 0px;
  margin-bottom: 0;
  color: #F6F7F8;
  h1 {
    color: #F6F7F8
  }
}

.container-top-end {
  background:url(growthmap_logo_01.png) center no-repeat;
  background-size: cover;
  padding: 150px 0px 150px 0px;
  margin: 0px 200px 0px 200px;
}

.home__btn--end {
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 30px 0px 0px 0px;
}

/* Help */



/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #F6F7F8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #999;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}