// @import "bootstrap-sprockets";
@import "bootstrap";
@import "reset";
@import "bootstrap-social";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  color: #F6F7F8;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.share-container {
  background: #F6F7F8;
  padding: 10px;
  margin-top: 30px;
  color: #0C0C0C;
  h1 {
    color: #0C0C0C
  }
}

.body-fix {
  max-width: 100%;
  margin: auto;
}

/* pagenation */

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #0C0C0C;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #0C0C0C;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* btn */

.btn-primary {
  background: #68A5DA;
  color: #F6F7F8;
}

.btn-secondary {
  background: #F6F7F8;
  color: #68A5DA;
}

/* header */

.header-container {
 width: 100%;
 padding: auto;
 margin: auto;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
}


.navbar-brand {
  display: block;
  width: 150px;
  height: 49px;
  font-size: 0; 
  background: url(growthmap_logo_02_mini.png) left top/150px auto no-repeat;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #F6F7F8;
  color: #F6F7F8;
  a {
    color: #F6F7F8;
    &:hover {
      color: #68A5DA;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
  
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

// .gravatar {
//   float: left;
//   margin-right: 10px;
// }

// .gravatar_edit {
//   margin-top: 15px;
// }

.stats {
  overflow: auto;
  margin-top: 5px;
  margin-left: 11px;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: 68A5DA;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* sidebar-2 https://qiita.com/takehanKosuke/items/f4f2e49e84576a555ee6 */ 

.sidebar-fix {
  margin: 0px 0px 0px -20px;
}

.channel-menu {
  position: fixed;
  top: 0;
  @media screen and (max-width: 600px) {
    position: inherit;
    margin-left: 0;
  }
}

.channel-menu_name {
  display: inline-block;
  padding: 0 0.5rem 0 1.5rem;
  color: #555459;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 53px;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    padding-left: 0;
  }
}
.channel_name .prefix {
  margin-right: 8px;
}

.channel-menu_prefix {
  padding-right: 0.5rem;
  font-weight: 500;
}
.channel-menu_date {
  font-weight: bold;
}
.channel-menu h3 {
  float: right;
  padding-right: 0.1rem;
  font-weight: 500;
}
.listings {
  margin-right: 30px;
  min-height: 100vh;
  height: 100%;
  width: 220px;
  float: left;
  color: #0C0C0C;
  background-color: #F6F7F8;
  // overflow-y: auto;
  // overflow-x: hidden;
  z-index: 10;
  @media screen and (max-width: 1000px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.listings_channels {
  position: sticky;
  top: 100px;
  margin: 1rem 0 2rem;
}

.channel_list {
  padding: 10px 0px;
  list-style-type: none;
  text-align: center;
  color: #ab9ba9;
}

.channel {
  margin: 20px 0px;
  height: 24px;
  line-height: 24px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-right: 17px;
  color: #ffffff;
  padding-left: 1rem;
  a {
    color: #0C0C0C;
    text-decoration: none;
    width: 100%;
    display: inline-block;
  }
  a:hover {
    color: #68A5DA;
  }
}

.channel.active {
  margin: 20px 0px;
  background: #C5E4Ed;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea {
    display: block;
    margin: auto;
    width: 100%;
    height: 100px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    padding: 0px 30px;
  }
}

.field_with_errors {
  .form-control {
      @extend .is-invalid;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.user-icon {
  // https://qiita.com/naoki00m/items/6430ab0b62766b582c9a
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.user-icon2 {
  // https://qiita.com/naoki00m/items/6430ab0b62766b582c9a
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn--edit__selectimage {
  // https://qiita.com/naoki00m/items/6430ab0b62766b582c9a
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  font-size: 1000px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn--edit__selectimage:hover{
  opacity: 0.5;
}

.btn--edit__changeimage {
  margin: 15px 0px;
}

.form-control-sns {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  text-align:center;
}

.form--control__background {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #999
  }
}

/* Home */

/* 背景設定 20201230*/ 
.jumbotron-extend {
  background:url(top_01.jpg) center no-repeat; background-size: cover;
  padding: 150px 10px 250px 10px;
  margin: 10px 3px 10px 3px;
  color: #F6F7F8;
  h1 {
    color: #F6F7F8
  }
}

/* JumbotronのみへのMargin調整 20201230*/
.container-fluid { 
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;
} 

.home__btn--create {
  padding: 20px 0px 20px 0px;
}

.home__btn--login {
  padding: 20px 0px 20px 0px;
}

.background-top-medium {
  margin: 10px 10px 10px 10px;
  background:url(top_02.jpg) center no-repeat; 
  background-size: cover;
  position: relative;
  height:100%;
  text-align: center;
}

.background-top-medium::before {
 content: ' ';
 background-color: rgba(0,0,0,.5);
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
}

.background-top-bottom {
  margin: 10px 10px 10px 10px;
  background:url(top_03c.jpg) center no-repeat; 
  background-size: cover;
  position: relative;
  height:100%;
  text-align: center;
}

.background-top-bottom::before {
 content: ' ';
 background-color: rgba(0,0,0,.5);
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
}

.box-top-discription {
  padding: 30px 30px 30px 30px;
  display: inline-block;
  text-align: left;
  position: relative;
  color: #F6F7F8;
  p {
    margin-bottom: 0px;
  }
  h1, h2 {
    color: #F6F7F8;
    text-align: left;
  }
}

.container-top-end {
  background:url(growthmap_logo_01.png) center no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0px 150px 0px;
  margin: 0px 50px 0px 50px;
}

.home__btn--end {
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 30px 0px 0px 0px;
}

.signin__checkbtn--agreement {
  input {
    width: 5%;
  }
}

.signin__box--agreement {
  width: 100%;
  height: 150px;
  overflow: scroll;
  background-color: #fff;
  border: 1px solid #ced4da;
  margin: 20px 0px;
}

.term_agreement {
  padding: 10px;
  font-size: 0.6em;
}

/* Help */



/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #F6F7F8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #999;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* Roadmap */

.roadmap__btn--create {
  padding-bottom: 10px;
  width: 200px;
  margin-left: auto;
}