<footer class="footer">
  <small>
    The <a href="https://tartom7997.net/">UpDrafts</a>
    by <a href="https://www.wantedly.com/id/tomtar9779">Itaru Tomita</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://twitter.com/ItaruTomita9779">Twitter</a></li>
    </ul>
  </nav>
</footer>